/**
  |============================
  | Modal window
  |============================
*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 40px;
    background-color: #fff;

    border-radius: 4px;
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    padding: 0;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;

    cursor: pointer;
}

.icon-close {
    fill: $dark-text-color;

    width: 15px;
    height: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-btn:hover &,
    .modal-btn:focus & {
        fill: $accent-color;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

    .modal {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
}

.modal-form__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;

    color: $dark-text-color;
}

.modal-form__group {
    display: flex;
    flex-direction: column;
}

.modal-form__field {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.modal-form__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}

.modal-form__input {
    height: 40px;
    padding-left: 42px;
}

.icon-form {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.modal-form__field>.icon-form {
    position: absolute;
    top: 31px;
    left: 10px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:hover>.icon-form,
.modal-form__input:focus+.icon-form {
    fill: $accent-color;
    cursor: pointer;
}

.modal-form__messege {
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    font-size: 12px;
}

.modal-form__input,
.modal-form__messege {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover,
    &:focus {
        outline: none;
        border: 1px solid $accent-color;
    }
}

.modal-form__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
}

.modal-checkbox {
    appearance: none;
    position: absolute;

    &:checked + .checkbox-icon{
                border-color: $accent-color;
                    background-color: $accent-color;
                    background-image: url(../images/icon-check.svg);
                    background-size: 72%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-origin: border-box;
    }

}

.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #000;
    border-radius: 4px;
    margin-right: 7px;
}

.checkbox-link {
    position: relative;
    color: $accent-color;
    text-decoration: none;

    &::after {
        content: '';

        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        border-radius: 2px;
        background-color: $accent-color;
    }
}

.btn-modal {
    display: block;
    margin: auto;
    padding: 10px 52px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    color: $main-white-color;
    background-color: $accent-color;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}