/**
  |============================
  | Container
  |============================
*/

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid tomato;
    margin: 0 auto;
}