    $body-background-color: #ffffff;
    $main-white-color: #ffffff;
    $secondary-white-color: #f5f4fa;
    $main-text-color: #757575;
    $dark-text-color: #212121;
    $accent-color: #2196f3;
    $header-background-color: #ececec;