/**
  |============================
  | Section Clients
  |============================
*/

.client-list__logo {
    fill: #afb1b8;
    width: 170px;
    height: 92px;
    box-shadow: 0px 0px 0px 1px #afb1b8 inset;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $accent-color;
        box-shadow: 0px 0px 0px 1px $accent-color inset;
    }
}