/**
  |============================
  | Section what we do
  |============================
*/

.section--what {
    padding-top: 0;
}

.what__item {
    position: relative;
}

.what__img {
    display: block;
}

.what__description {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: $main-white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}